@use '/src/styles/constants/colors';
@use '/src/styles/mixins/responsive';

.article {
  position: relative;
  width: 100%;
  padding: 20px;
  border-bottom: 1px solid var(--border1);

  .title {
    font-size: 20px;
    font-weight: 500;
  }

  .subTitle {
    margin-top: 4px;
    font-size: 14px;
    line-height: 1.6;
  }

  .desc,
  .summary,
  .linkList {
    margin-top: 20px;
    font-size: 14px;
    line-height: 1.6;
  }

  .desc,
  .summary {
    font-weight: 300;
  }

  .images {
    margin-top: 20px;
  }

  img {
    width: 100%;
  }

  img + img {
    margin-top: 10px;
  }

  .hidden {
    display: none;
  }

  .video {
    width: 100%;
  }
}

.article:last-of-type {
  border: none;
}

@include responsive.after(SD) {
  .article {
    display: grid;
    grid-template-columns: 1fr minmax(0, 2fr);
    column-gap: 30px;
  }

  .subTitle {
    font-size: 16px !important;
  }

  .desc,
  .summary,
  .linkList {
    font-size: 16px !important;
  }

  .images {
    margin: 0 !important;
  }
}

@include responsive.after(HD) {
  .article {
    border-right: 1px solid var(--border1) !important;
    border-bottom: 1px solid var(--border1) !important;
  }
}
