$BG_LIGHT: #fffcee;
$BG_DIM: #141b25;
$BG_DARK: #121212;

$TEXT_LIGHT: #212529;
$TEXT_DIM: #ececec;
$TEXT_DARK: #ececec;

$BORDER_LIGHT: #343a40;
$BORDER_DIM: #e0e0e0;
$BORDER_DARK: #e0e0e0;

$PRIMARY_ORANGE: #c6643a;
$PRIMARY_GREEN: #004d3c;
$PRIMARY_BLUE: #809ea8;
$PRIMARY_YELLOW: #e29f04;
$PRIMARY_PINK: #e08e70;
