@use '/src/styles/constants/colors';

.colorButton {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.orange {
  background-color: colors.$PRIMARY_ORANGE;
}

.green {
  background-color: colors.$PRIMARY_GREEN;
}

.blue {
  background-color: colors.$PRIMARY_BLUE;
}

.yellow {
  background-color: colors.$PRIMARY_YELLOW;
}

.pink {
  background-color: colors.$PRIMARY_PINK;
}
