@use '/src/styles/constants/colors';

.backgroundButton {
  width: 180px;
  height: 50px;
  border-radius: 4px;
}

.light {
  color: colors.$TEXT_LIGHT;
  background-color: colors.$BG_LIGHT;
  border: 1px solid colors.$BORDER_LIGHT;
}

.dim {
  color: colors.$TEXT_DIM;
  background-color: colors.$BG_DIM;
  border: 1px solid colors.$BORDER_DIM;
}

.dark {
  color: colors.$TEXT_DARK;
  background-color: colors.$BG_DARK;
  border: 1px solid colors.$BORDER_DARK;
}
