:root {
  --color-background: #fffcee;
  --text1: #212529;
  --text2: #495057;
  --text3: #868e96;
  --text4: #ced4da;
  --border1: #343a40;
  --border2: #adb5bd;
  --border3: #dee2e6;
  --border4: #f1f3f5;
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-background: #121212;
    --text1: #ececec;
    --text2: #d9d9d9;
    --text3: #acacac;
    --text4: #595959;
    --border1: #e0e0e0;
    --border2: #a0a0a0;
    --border3: #4d4d4d;
    --border4: #2a2a2a;
  }
}

:root[background-theme='light'] {
  --color-background: #fffcee;
  --text1: #212529;
  --text2: #495057;
  --text3: #868e96;
  --text4: #ced4da;
  --border1: #343a40;
  --border2: #adb5bd;
  --border3: #dee2e6;
  --border4: #f1f3f5;
}

:root[background-theme='dim'] {
  --color-background: #141b25;
  --text1: #ececec;
  --text2: #d9d9d9;
  --text3: #acacac;
  --text4: #595959;
  --border1: #e0e0e0;
  --border2: #a0a0a0;
  --border3: #4d4d4d;
  --border4: #2a2a2a;
}

:root[background-theme='dark'] {
  --color-background: #121212;
  --text1: #ececec;
  --text2: #d9d9d9;
  --text3: #acacac;
  --text4: #595959;
  --border1: #e0e0e0;
  --border2: #a0a0a0;
  --border3: #4d4d4d;
  --border4: #2a2a2a;
}

:root[color-theme='orange'] {
  --primary: #c6643a;
  --color-text: #212529;
}

:root[color-theme='green'] {
  --primary: #004031;
  --color-text: #ececec;
}

:root[color-theme='blue'] {
  --primary: #809ea8;
  --color-text: #212529;
}

:root[color-theme='yellow'] {
  --primary: #e29f04;
  --color-text: #212529;
}

:root[color-theme='pink'] {
  --primary: #e08e70;
  --color-text: #212529;
}

body {
  color: var(--text1);
  background-color: var(--color-background);
  transition: background 0.2s ease-in 0s;
}
